ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.clearfix {
  display: block;
  content: '';
  clear: both;
}
.schedule-hd {
  padding: 20px;
  height: 22px;
}
.schedule-hd .show-year {
  float: left;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.59px;
}
.schedule-hd .show-year span {
  margin-right: 5px;
}
.schedule-hd .controls {
  float: right;
}
.schedule-hd .controls .show-month {
  font-size: 16px;
  color: #000000;
}
.schedule-hd .controls .arrow-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.schedule-hd .controls .arrow-icon.left {
  float: left;
  background: url(./img/btn_calendar_L.png);
  background-size: 100% 100%;
  margin-right: 7px;
}
.schedule-hd .controls .arrow-icon.right {
  float: right;
  background: url(./img/btn_calendar_R.png);
  background-size: 100% 100%;
  margin-left: 7px;
}
.week-ul {
  height: 21px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.week-ul li {
  float: left;
  width: 14.28%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}
.schedule-bd {
  padding-bottom: 15px;
}
.schedule-bd::after {
  display: block;
  content: '';
  clear: both;
}
.schedule-bd li {
  float: left;
  width: 14.28%;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}
.schedule-bd li.other-month {
  color: rgba(0, 0, 0, 0.2);
}
.schedule-bd li.current-month {
  color: rgba(0, 0, 0, 0.6);
}
.schedule-bd li.current-month .dayStyle:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.09);
}
.schedule-bd li .dayStyle {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
.schedule-bd li .dayStyle.today-flag {
  color: #fff;
  background: #FF6B23;
}
.schedule-bd li .dayStyle.selected-style {
  background: rgba(0, 0, 0, 0.09);
}
